# Goal 4

# Importing important library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("financial_transaction_tree_task.csv")
data.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0

In [3]:
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
dtype: int64

As no any null value found

In [4]:
data["type"].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [5]:
l = data["nameOrig"].unique()

In [6]:
l.shape

(1048317,)

Now analysis on unit of time and froud level

In [7]:
data1 = data.groupby('step')                 # data group by step
data1

In [8]:
data2  = data1["isFraud"].agg("sum").sort_values(ascending = False)     
data2

step
66    24
22    23
34    22
6     22
74    22
      ..
76     4
54     4
3      4
28     4
23     2
Name: isFraud, Length: 95, dtype: int64

# now some changement in data

In [9]:
data["type"].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [10]:
def comft_type(s):
    if s== "PAYMENT":
        return 1
    if s=="TRANSFER":
        return 2
    if s=="CASH_OUT":
        return 3
    if s=="DEBIT":
        return 4
    else :
        return 5

In [11]:
data3  = data.copy()
data3["type"] = data3["type"].apply(lambda x: comft_type(x))

In [12]:
data3

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0
1,1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0
2,1,2,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,3,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1
4,1,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
1048570,95,3,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0
1048571,95,1,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0
1048572,95,1,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0
1048573,95,1,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0
1048574,95,1,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0

In [13]:
data4  = data3.copy()
data4["org"] = data4["newbalanceOrig"]-data4["oldbalanceOrg"]
data4["dest"] = data4["newbalanceDest"]  - data4["oldbalanceDest"]

In [14]:
data4

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,org,dest
0,1,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,-9839.64,0.00
1,1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,-1864.28,0.00
2,1,2,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,-181.00,0.00
3,1,3,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,-181.00,-21182.00
4,1,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,-11668.14,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,95,3,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,-132557.35,132557.35
1048571,95,1,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,-9917.36,0.00
1048572,95,1,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,-14140.05,0.00
1048573,95,1,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,-10020.05,0.00
1048574,95,1,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,-11450.03,0.00

In [15]:
data4.drop(["oldbalanceOrg","newbalanceOrig","oldbalanceDest","newbalanceDest"],axis = 1 , inplace = True)
data4

,step,type,amount,nameOrig,nameDest,isFraud,org,dest
0,1,1,9839.64,C1231006815,M1979787155,0,-9839.64,0.00
1,1,1,1864.28,C1666544295,M2044282225,0,-1864.28,0.00
2,1,2,181.00,C1305486145,C553264065,1,-181.00,0.00
3,1,3,181.00,C840083671,C38997010,1,-181.00,-21182.00
4,1,1,11668.14,C2048537720,M1230701703,0,-11668.14,0.00
...,...,...,...,...,...,...,...,...
1048570,95,3,132557.35,C1179511630,C435674507,0,-132557.35,132557.35
1048571,95,1,9917.36,C1956161225,M668364942,0,-9917.36,0.00
1048572,95,1,14140.05,C2037964975,M1355182933,0,-14140.05,0.00
1048573,95,1,10020.05,C1633237354,M1964992463,0,-10020.05,0.00
1048574,95,1,11450.03,C1264356443,M677577406,0,-11450.03,0.00

In [16]:
def c_or_d(x):
    if x==0:
        return 0
    if x>0:
        return 1
    else :
        return -1

In [17]:
data5 = data4.copy()
data5["org"] = data5["org"].apply(lambda x: c_or_d(x) )
data5["dest"] = data5["dest"].apply(lambda x: c_or_d(x) )

In [18]:
data5

         step  type     amount     nameOrig     nameDest  isFraud  org  dest
0           1     1    9839.64  C1231006815  M1979787155        0   -1     0
1           1     1    1864.28  C1666544295  M2044282225        0   -1     0
2           1     2     181.00  C1305486145   C553264065        1   -1     0
3           1     3     181.00   C840083671    C38997010        1   -1    -1
4           1     1   11668.14  C2048537720  M1230701703        0   -1     0
...       ...   ...        ...          ...          ...      ...  ...   ...
1048570    95     3  132557.35  C1179511630   C435674507        0   -1     1
1048571    95     1    9917.36  C1956161225   M668364942        0   -1     0
1048572    95     1   14140.05  C2037964975  M1355182933        0   -1     0
1048573    95     1   10020.05  C1633237354  M1964992463        0   -1     0
1048574    95     1   11450.03  C1264356443   M677577406        0   -1     0

[1048575 rows x 8 columns]

In [19]:
data5["amount"].describe()

count    1.048575e+06
mean     1.586670e+05
std      2.649409e+05
min      1.000000e-01
25%      1.214907e+04
50%      7.634333e+04
75%      2.137619e+05
max      1.000000e+07
Name: amount, dtype: float64

In [20]:
data5.drop(["amount" , "nameOrig","nameDest"],axis = 1,inplace  =True)

In [21]:
x = data5.drop(["isFraud","step"],axis = 1)
x

         type  org  dest
0           1   -1     0
1           1   -1     0
2           2   -1     0
3           3   -1    -1
4           1   -1     0
...       ...  ...   ...
1048570     3   -1     1
1048571     1   -1     0
1048572     1   -1     0
1048573     1   -1     0
1048574     1   -1     0

[1048575 rows x 3 columns]

In [22]:
y = data5["isFraud"]

In [23]:
y

0          0
1          0
2          1
3          1
4          0
          ..
1048570    0
1048571    0
1048572    0
1048573    0
1048574    0
Name: isFraud, Length: 1048575, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size = 0.2,random_state=50)

# Decision tree

In [26]:
from sklearn.tree import DecisionTreeClassifier
clf_model = DecisionTreeClassifier(criterion="gini", random_state=50)   
clf_model.fit(x_train,y_train)

DecisionTreeClassifier(random_state=50)

In [27]:
y_predict = clf_model.predict(x_test)

In [28]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy_score(y_test,y_predict)

0.9992704384521851

In [29]:
confusion_matrix(y_test , y_predict)

array([[209446,     17],
       [   136,    116]], dtype=int64)

# Random forest

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
clf = RandomForestClassifier(n_estimators = 100)

In [32]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [33]:
y_predict_rf= clf.predict(x_test)

In [34]:
from sklearn import metrics

In [35]:
metrics.accuracy_score(y_test , y_predict_rf)

0.9992704384521851

# Gradient Boosting

In [36]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error as MSE

In [37]:
gbr = GradientBoostingRegressor(n_estimators = 200, max_depth = 1, random_state = 50)

In [38]:
gbr.fit(x_train ,y_train)

GradientBoostingRegressor(max_depth=1, n_estimators=200, random_state=50)

In [39]:
y_predict_gbr  = gbr.predict(x_test)

In [40]:
test_rmse = MSE(y_test, y_predict_gbr)

In [41]:
1-test_rmse

0.9988071166867387

# Adaboost

In [42]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error as MSE

In [43]:
abr = AdaBoostRegressor(n_estimators = 200,  random_state = 50)

In [44]:
abr.fit(x_train ,y_train)

AdaBoostRegressor(n_estimators=200, random_state=50)

In [45]:
y_predict_abr  = abr.predict(x_test)

In [46]:
test_amse = MSE(y_test, y_predict_abr)

In [47]:
1-test_rmse

0.9988071166867387

In [48]:
# As most of the model give same type of accuracy that is 99.88%